<% if book.favorited_by?(current_user) %>
  <p>
    <%= link_to book_favorites_path(book), method: :delete do %>
      ๐งก<%= book.favorites.count %> ใใใญ
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to book_favorites_path(book), method: :post do %>
      ๐<%= book.favorites.count %> ใใใญ
    <% end %>
  </p>
<% end %>